.nav {
    display: flex;
    align-items: center;
}

.navList {
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navItem {
    margin: 0;
    padding: 0;
}

/* Стандартне НЕАКТИВНЕ посилання (тепер глибоке чорне) */
.link {
    text-decoration: none;
    color: #101828;
    /* Колір Main із Figma UI Kit */
    font-size: 16px;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

/* При ховері робимо плавне освітлення до сірого */
.link:hover {
    color: #6C717B;
}

/* АКТИВНИЙ стан сторінки (тепер приглушений сіро-зелений) */
.active {
    color: #6C717B;
    /* Колір Grey-green із Figma UI Kit */
    font-weight: 500;
}