.link {
    font-size: 15px;
    color: black;
    /* text-decoration: none; */
}

.list {
    list-style-type: none;
}


.item {
    /* display: flex;
    gap: 16px; */
    align-items: flex-start;
    margin-bottom: 8px;
}


.h3 {
    text-transform: capitalize;
    color: rgb(0, 15, 0);
    font-size: 18px;
    font-weight: 500;
    line-height: 1em;
}